<div class="card">
    <div class="card-body p-4 d-flex flex-row">
        <h1 style="color:forestgreen">Hoorrayyy !!! Your Order has been Confirmed</h1>
     </div>
    <h3 class="p-4">Order will be delivered to you soon.</h3>
</div>